.totalCart{
    background-color: white;
    .totalCart__titulo{
        margin: 20px
    }

    .cont__item{
        display: flex;
        gap:30px;
        height: 250px;
        align-items: center;
        justify-content: space-between;

        .cont__item__img{
            display: flex;
            align-items: center;
            .item__img{
                width: 300px;
                height: 300px;
                display: flex;
    
            }
            .item__detail{
                display: flex;
                flex-direction: row;
                width: 500px;
    
            }
        }
    }
}
