.ContItemDetailContainer{
    margin:0;
    padding: 0;
    background-color: rgb(8, 8, 8);
    background-image: url(./../../../public/img/fondo3.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    height: 100vh;
}