.contTotal__nos{

    background-image: url(./../../../public/img/otrofondo.jpg);
    background-color: rgb(15, 15, 15);
    background-blend-mode: soft-light;
    background-position: center;
    .nos__titulo{
        color:white;
        font-size: 45px;
        margin:0;
        padding: 100px;
        line-height: 90px;
        
    }

}