.header{
    
    background-color: rgb(0, 0, 0);
    
    .header__container{
        max-width: 1100px;
        margin: 0 auto;
        padding: 30px 0;
        display:flex;
        justify-content: space-around;
        align-items: center;
        .header__container__logoTitu{
            display:flex;
            align-items: center;
            
            .header__logo{
                color: white;
                height: 150px;
                width: 200px;
                
            }
            .header__titu{
                color: aliceblue;
            }
        }
        .Contenedor__nav{
            display:flex;
            .navbar{
                display:flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
                .navbar__link{
                    color:white;
                    font-size: 15px;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }

}



