.formTotal{
    margin:0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .formTitulo{
        font-size: 70px;
        font-weight: bold;
        margin: 20px;
    }
    .formContact{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 100%;
        padding: 10px;
        margin: 50px;
        .contformInputs{
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: left;  
            .formInputs{
                width: 250px;
                display: flex;
                margin-left: 20px;
            }
            .formLabels{
                font-weight: 800;
                margin-left: 20px;
                margin-bottom: 10px;
            }
        }
        .formTextArea{
            display: flex;
            flex-direction: column;
            margin: 20px;
            .textAreaSize{
                width: 90%;
                height: 150px;
            }
            .formLabels{
                font-weight: 800;
            }
        }
        .contButton{
           display: flex;
           align-items: center;
           justify-content: center;
           margin: 10px;
            .formSubmit{
                margin: 10px;
                height: 50px;
                width: 100px;
            }
        
        }
    }
}